<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Payment Confirmation
        <small><%= @challenge.cause %> Thanks You For Your Pledge</small>
    </h1>
  </div>
</div>

<p><strong>Challenge:</strong> <%= @challenge.title %></p>
<p><strong>Nominee:</strong> <%= @challenge.nominee_name %></p>
<p><strong>Cause:</strong> <%= @challenge.cause %></p>
<p><strong>Pledge Amount:</strong> $<%= @pledge.amount %></p>

<form action="/challenges/<%= @challenge.id %>/pledges/<%= @pledge.id %>/pay" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TOI2HcX8MCjx1Nvn90iwNWK4"
    data-amount="<%= @pledge.amount %>00"
    data-name="The Pledge"
    data-description="$<%= @pledge.amount %> Pledge for <%= @challenge.title %>"
    data-image="<%= asset_path 'thepledge-icon.png' %>"
    data-email="<%= @user.email %>">
  </script>
</form>