<h1><%= @challenge.title %></h1>
<p>
  <% if @challenge.is_owner?(@current_user) %>

    <%= link_to 'Edit Challenge', edit_challenge_path(@challenge) %>
    |
    <%= link_to 'Delete Challenge', @challenge, :method => 'delete', :data => { :confirm => "Are you sure?" } %>

  <% end %>
</p>
<div>
  <!-- need to add user_id.name here -->
  <p><strong><%= @challenge.description %></p>
  <p><%= link_to('Make a Pledge', new_challenge_pledge_path(:challenge_id => @challenge.id)) %></p>
</div>

<%= image_tag(@challenge.banner_image, :class => 'challenge_banner') %>