<h1><%= @challenge.title %></h1>
<p>
  <%= link_to 'Edit Challenge', edit_challenge_path(@challenge) %>
  |
  <%= link_to 'Delete Challenge', @challenge, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
</p>
<div>
  <!-- need to add user_id.name here -->
  <p><strong><%= @challenge.description %></p>
</div>

<%= image_tag(@challenge.banner_image, :class => 'challenge') %>